/* 헤더 */
.navbar > .container .navbar-brand,.navbar > .container-fluid .navbar-brand{margin:0;font-size:inherit}
.container > .navbar-header,.container-fluid > .navbar-header,.container > .navbar-collapse,.container-fluid > .navbar-collapse{margin-right:0;margin-left:0}
.job{margin-left:18px;font-family:'NanumBarunGothic';font-size:18px;color:#939598}
.nav.navbar-nav.navbar-right{padding:48px 0 16px}
.nav.navbar-nav.navbar-right li a{padding:0 14px;font-size:18px;font-family:Nanum Gothic;font-weight:600;color:#58595b}
.nav.navbar-nav.navbar-right li a:hover,.nav.navbar-nav.navbar-right li a:active,.nav.navbar-nav.navbar-right li a:focus{color:#db4153}
.navbar-toggle{position:absolute;right:15px;margin-right:0;margin-top:10px}

/* 메인_비쥬얼 */
section{min-height:936px;padding:90px 0}
section.main{padding:0}
.main{position:relative;height:936px;background:url(../images/bg_main.jpg) 0 0 repeat-x}
.jumbotron{height:936px;padding:250px 0 0!important;background:url(../images/bg_mainVi.png) 51% 100% no-repeat;text-align:center}
.jumbotron h1{display:block;margin-bottom:15px;line-height:100px;font-size:21px!important;font-weight:200;color:#fff;text-align:center;opacity:.9;filter:alpha(opaciy=90)}
.jumbotron span{padding:0 10px;background:url(../images/bg_mainTitle.png) 0 0 repeat;font-family:'NanumSquareB'}
.jumbotron .line1{font-size:4.3em}
.jumbotron .line2{font-size:4em}
.jumbotron .line3{padding-bottom:10px;font-size:4.7em;line-height:.9em}

/* 메인_컨텐츠 */
section h2{display:table;margin:50px auto 70px;background:url(../images/bg_h2.gif) 0 100% repeat-x;font-weight:700;font-size:40px;line-height:52px;color:#58595b}
#aboutMe dl{overflow:hidden;margin-bottom:30px}
#aboutMe dt{padding-left:0;font-size:16px;font-weight:700;line-height:33px;color:#414042}
#aboutMe dd{padding:0;font-size:16px;font-weight:400;line-height:33px;color:#58595b}
#aboutMe h3{display:inline-block;position:relative;font-size:23px;font-weight:700;line-height:51px;color:#58595b}
#aboutMe h3:after{display:inline-block;position:absolute;top:0;left:0;width:29px;height:3px;background-color:#db4153;content:''}
#aboutMe p{font-size:16px;line-height:24px;color:#58595b}
#career .lst_career{padding:0}
#career .career_item{overflow:hidden;margin-bottom:18px;border:1px solid #d1d3d4}
#career .img_wrap{overflow:hidden;height:175px;padding:0;border-right:1px solid #d1d3d4}
#career .img_wrap.full{width:100%;border-bottom:1px solid #d1d3d4;border-right:none}
#career .img_wrap img{display:block}
.career_more{position:absolute;right:0;bottom:0;width:29px;height:29px;padding:0;border:0;background-image:url(../images/btn_career_more.gif);font-size:0}
.career_more:hover,.career_more:active,.career_more:focus{background-image:url(../images/btn_career_moreH.gif)}
.career_more.close{background-image:url(../images/btn_career_close.gif)}
.career_more.close:hover,.career_more.close:active,.career_more.close:focus{background-image:url(../images/btn_career_closeH.gif)}
#career .text_wrap{padding:2px 33px}
#career .text_wrap h3{padding:0 6px 4px;background:url(../images/bg_career_h3.png) 0 0 no-repeat;font-size:16px;line-height:33px;color:#fff}
#career .text_wrap dl{}
#career .text_wrap dt{font-size:16px;line-height:24px;font-weight:700;color:#58595b}
#career .text_wrap dd{font-size:16px;line-height:24px;font-weight:400;color:#58595b}
#career .lst_career_detail{padding:0;list-style:none}
#career .lst_career_detail li{font-size:14px;line-height:20px}
#career .lst_career_detail li:before{margin:0 7px 0 8px;content:'-'}
#portfolio #gallery-filter{margin-bottom:35px}
#portfolio #gallery-filter > button{margin:0 10px;padding:0 15px;font-size:16px;color:#58595b}
#portfolio #gallery-filter > button.active{background-color:#db4153;color:#fff}
#portfolio .load-more{display:block;min-width:160px;margin:0 auto;margin-top:70px;border-radius:0;background-color:#db4153;color:#fff}
#portfolio .portfolio_list{padding:0}
#portfolio .portfolio_list > li{overflow:hidden;float:left;margin:.5%;padding:0;border:1px solid #bcbec0;background-color:#fff;cursor:pointer}
#portfolio .portfolio_list > li > a{display:inline-block;width:100%;color:#58595b;text-decoration:none}
#portfolio .gallery-item{}
#portfolio .gallery-item.is-loading{opacity:0}

#portfolio:after{display:block;clear:both;content:''}
#portfolio .portfolio_list .thumb{border-bottom:1px solid #bcbec0}
#portfolio .portfolio_list .thumb img{width:100%}
#portfolio .portfolio_list .con_list{overflow:hidden;margin:0;padding:15px}
#portfolio .portfolio_list dt{margin-bottom:7px;font-size:18px;font-family:NanumBarunGothic;font-weight:normal}
#portfolio .portfolio_list .label{float:left;margin-right:5px;padding:4px 5px;border-radius:0;background-color:#58595b;font-weight:400;font-size:13px;line-height:13px;color:#fff}
#portfolio .portfolio_list .role{font-size:15px;font-family:NanumBarunGothicLight;color:#58595b}
#portfolio .portfolio_list .ex{margin-top:12px;font-family:NanumBarunGothicLight;font-size:15px;color:#939598}

#myModal h3{margin:0 0 8px;font-family:NanumBarunGothic;font-size:24px;color:#414042}
#myModal .close{display:inline-block;position:absolute;top:22px;right:22px;width:28px;height:28px;border:none;background:url(../images/btn_close.gif) 0 0 no-repeat;font-size:0;line-height:28px;opacity:1}
#myModal .modal-body{padding:75px 30px}
#myModal p{margin-bottom:6px;font-size:16px;color:#6d6e71}
#myModal .link{padding-left:20px;background:url(../images/ico_link.gif) 0 3px no-repeat;font-size:14px;color:#6d6e71}
#myModal dl{overflow:hidden;margin:0;padding:30px 0 20px}
#myModal dl dt,#myModal dl dd{padding:0}
#myModal dt{margin-bottom:4px;font-size:17px;font-weight:600;color:#58595b}
#myModal dd{margin-bottom:13px;font-size:16px;color:#6d6e71}
#myModal .carousel-indicators{display:inline-block;overflow:hidden;position:relative;left:auto;bottom:inherit;z-index:15;width:100%;margin:0;padding:0;text-align:left;list-style:none}
#myModal .carousel-control{color:#ddd}

/* contacts */
#contacts p{margin-bottom:50px;font-size:18px;line-height:28px;color:#58595b}
#contacts table{border-top:3px solid #db4153}
#contacts table caption{padding:0}
#contacts table th{padding:12px 10px 12px 20px;font-size:20px;font-weight:400;color:#58595b}
#contacts table td{padding:4px}
#contacts table .form-control{padding:12px;border-radius:0;border:1px solid #d1d3d4;font-size:18px}
#contacts table input[type=text]{height:46px}
#contacts table label{font-weight:normal}
#contacts form .btn{width:143px;padding:12px 0;border-radius:0;font-size:20px}
footer{padding:18px 0;border-top:1px solid #d1d3d4;background-color:#e6e7e8;font-size:14px;color:#939598}
footer p.html5Mark{margin-top:10px}

@media all and (max-width:1165px) and (min-width:990px){
	.modal-lg{width:900px}
}
@media all and (min-width:992px){/* 사용자 해상도가 992px 이상일 때 이 코드가 실행됨. */
	#portfolio .portfolio_list > li{width:24%}
}
@media all and (max-width:975px){/* 사용자 해상도가 975px 이하일 때 이 코드가 실행됨. */
	#career .img_wrap{border-bottom:1px solid #d1d3d4}
}
@media all and (max-width:992px) and (min-width:760px){/* 사용자 해상도가 992px 이하 760 이상일 때 이 코드가 실행됨. */
	#portfolio .portfolio_list > li{width:32.33%}
}
@media all and (max-width:994px) and (min-width:753px){
	.nav.navbar-nav.navbar-right{padding-top:0}
}
@media all and (max-width:768px){/* 사용자 해상도가 768px 이하일 때 이 코드가 실행됨. */
	.navbar > .container{width:100%}
	.container{width:100%}
}
@media all and (max-width:760px) and (min-width:450px){/* 사용자 해상도가 760px 이하 450 이상일 때 이 코드가 실행됨. */
	#portfolio #gallery-filter > button{margin:0 5px;padding:0 10px}
	#portfolio .portfolio_list > li{width:49%}
}
@media all and (max-width:750px){
	.navbar > .container{padding:0}
	.navbar > .container .navbar-brand,.navbar > .container-fluid .navbar-brand,.navbar > .container .navbar-brand,.navbar-brand{padding:20px 15px}
	.navbar-collapse{padding:0}
	.nav.navbar-nav.navbar-right{margin:0;padding:0}
	.nav > li{padding:15px;text-align:center}
}
@media all and (max-width:550px){
	.navbar-brand{padding:18px 0 16px}
	section{min-height:610px}
	.main{height:610px}
	.jumbotron{height:610px;padding:200px 0 0;background-size:100%}
	.jumbotron h1{line-height:2.8em}
	.jumbotron .line1{font-size:2.1em}
	.jumbotron .line2{font-size:2em}
	.jumbotron .line3{padding-bottom:10px;font-size:2.2em;line-height:.9em}
	.job{display:block;margin-left:0;margin-top:10px}
	footer{margin-top:20px}
}
@media all and (max-width:450px){
	#portfolio #gallery-filter > button{margin:0;padding:0 5px}
	#portfolio .portfolio_list > li{width:99%;margin:.5%}
}
@media all and (max-width:375px){
	#aboutMe .photo_wrap{width:100%}
	#aboutMe .profile_wrap{width:100%}
}